---
title: '@sashaqred'
availableLangs: ['ru', 'en']
---

{% set translatedDescriptionDefault = 'meta.default_description' | i18n %}
{% set formattedDescription = description | default(translatedDescriptionDefault) | striptags | truncate(120) %}
{% set baseUrl = 'https://sashaqred.com' %}
{% set fullUrl = baseUrl + page.url %}

<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ dir }}">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Sasha Verbilo">
    <title>{{ title }}</title>
    <meta
      name="description"
      content="{{ formattedDescription }}"
    />
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="sashaqred">
    <meta property="og:description" content="{{ formattedDescription }}">
    <meta property="og:url" content="{{ fullUrl }}">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@sashaqred" />

    {% if canonical %}
      <link rel="canonical" href="{{ canonical.url }}">
    {% else %}
      <link rel="canonical" href="{{ fullUrl }}">
    {% endif %}

    {% if connectedRssUrl %}
      <link rel="alternate" type="application/rss+xml" href="{{ baseUrl + connectedRssUrl }}">
    {% endif %}

    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#7e52a0" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
