---
layout: page
title: blog.all_posts
---

<h1>{{ title | i18n }}</h1>

{% if collections.post.length %}
  {%- for post in collections.post | reverse -%}
    <section>
      <span>
        <time datetime="{{ post.date }}">{{ post.date | date }}</time>
        •
        <span>{{ post.templateContent | readingTime }}</span>
      </span>
      <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
      {% if post.data.description %}
        <p>{{ post.data.description | safe }}</p>
      {% endif %}
    </section>
  {%- endfor -%}
{% else %}
  <p>{{ 'blog.will_be_soon' | i18n }}</p>
{% endif %}
