---
layout: base
title: Blog. Sashaqred "Immortality project"
pageMap:
  '': 'menu.home'
  'blog/': 'menu.blog'
---

<div class="nav-wrapper">
  <nav>
    <ul>
      {%- for link, title in pageMap %}
        {% set langLink = '/' + lang + '/' + link %}
        {% set blankLangLink = '/' + lang + '/' %}
        <li>
          <a
            href="{{ langLink }}"
            {% if langLink === blankLangLink and langLink === page.url or langLink !== blankLangLink and page.url.startsWith(langLink) %}
              aria-current="page"
            {% endif %}
          >
            {{ title | i18n }}
          </a>
        </li>
      {%- endfor %}
    </ul>
  </nav>
</div>

<main class="page">
  {{ content | safe }}
</main>
