---
layout: page
tags: post
permalink: "/{{ lang }}/blog/{{ page.fileSlug }}/"
---

{% import "post-info.njk" as postInfo %}

<div class="post">
  <h1>{{ title }}</h1>
  {{ postInfo.meta(page.date, content, canonical) }}
  {% if description %}
    <p>{{ description | safe }}</p>
  {% endif %}
  {{ content | toc | safe }}
  {{ content | safe }}
</div>
