---
layout: page
tags: post
permalink: "/{{ lang }}/blog/{{ page.fileSlug | removeDateFromPath }}/"
eleventyComputed:
  connectedRssUrl: "/{{ lang }}/feed.xml"
---

{% import "post-info.njk" as postInfo %}

<div class="post">
  <h1>{{ title }}</h1>
  {{ postInfo.meta(page.date, content, canonical, lang) }}
  {% if description %}
    <p>{{ description | safe }}</p>
  {% endif %}
  {% if altDescription %}
    <p>{{ altDescription | safe }}</p>
  {% endif %}
  {{ content | toc | safe }}
  {{ content | safe }}
</div>
