---
layout: page
tags: post
---


<div class="post">
  <h1>{{ title }}</h1>
  <span>
    <time datetime="{{ page.date }}">{{ page.date | date }}</time>
    •
    <span>{{ content | readingTime }}</span>
  </span>
  <p>{{ description | safe }}</p>
  {{ content | toc | safe }}
  {{ content | safe }}
</div>
