{% macro meta(postPublishDate, postPublishContent, postCanonical, lang) %}
  <p>
    <time datetime="{{ postPublishDate }}">{{ postPublishDate | date }}</time>
    •
    <span>{{ postPublishContent | timeToRead(lang) }}</span>
    {% if postCanonical %}
      / {{ 'post.originally_posted_at' | i18n({}, lang) }} <a href="{{postCanonical.url}}">{{postCanonical.name}}</a>
    {% endif %}
  </p>
{% endmacro %}
