---
layout: page
title: Вербило Александр, резюме
description: Резюме. Основные навыки, опыт работы, образование.
skipFooter: true
---
<link rel="stylesheet" href="/styles/cv.css" data-helmet="cv-css" />
<header class="intro">
  <h1>Вербило Александр</h1>
  <address>Варшава, Польша</address>
  <ul class="linear-list contacts">
    <li>
      <a href="https://linkedin.com/in/sashaqred" class="print-link">LinkedIn</a>
    </li>
    <li>
      <a href="https://github.com/sashaqred" class="print-link">GitHub</a>
    </li>
    <li>
      <a href="mailto:sashaqred@gmail.com" class="print-link" data-better-print-text="sashaqred@gmail.com">email</a>
    </li>
  </ul>
</header>

<section class="about">
  <h2>О себе</h2>
  <p class="section-content">
    Фронтенд-инженер.
    Помимо бизнес-задач думаю о команде и DX.
    Не привязан к конкретной технологии, но предпочитаю Angular.
    Нравится заниматься менторингом и платформенными задачами.
  </p>
  <p class="section-content">
    В свободное время воспитываю двух собак, занимаюсь аналоговой фотографией и иногда играю в баскетбол.
  </p>
</section>

<section class="core-skills">
  <h2>Основные навыки</h2>
  <ul class="linear-list section-content">
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>Angular</li>
    <li>RxJs</li>
    <li>NgRx</li>
    <li>Git</li>
  </ul>
</section>

<section class="skills">
  <h2>Дополнительно умею</h2>
  <ul class="linear-list section-content">
    <li>CSS</li>
    <li>SCSS</li>
    <li>CI / CD</li>
    <li>Azure</li>
    <li>Docker</li>
    <li>Gulp</li>
    <li>Vite</li>
    <li>webpack</li>
    <li>React</li>
    <li>Redux</li>
    <li>HTML</li>
    <li>11ty</li>
    <li>Java</li>
    <li>Node.js</li>
    <li>Express.js</li>
    <li>Bash / Zsh</li>
  </ul>
</section>

<section class="languages">
  <h2>Языки</h2>
  <ul class="linear-list section-content">
    <li>Русский</li>
    <li>Английский</li>
  </ul>
</section>

<section class="experience">
  <h2>Опыт</h2>
  <ul class="block-list">
    <li>
      <div class="inline-text mb-sm">
        <h3>
          Ведущий фронтенд-инженер @ <a href="https://uibakery.io/">UI Bakery</a>.
        </h3>
        <p><time datetime="2020-04">Апрель 2020</time> – Сейчас</p>
      </div>
      <p>
        Дизайн и разработка основополагающих для продукта фич.
        Улучшение процессов и DX.
        Поддержка Angular в обновленном состоянии.
        Сокращение количества команд и времени, необходимых для релиза, на 30%.
        Повышение стабильности релизов.
      </p>
    </li>
    <li>
      <div class="inline-text mb-sm">
        <h3>
          Фронтенд-активист @ <a href="https://akveo.com/">Akveo</a>.
        </h3>
        <p><time datetime="2020-04">Апрель 2020</time> – <time datetime="2021-12">Декабрь 2021</time></p>
      </div>
      <p>
        Унификация код-стайла и применение лучших практик для корпоративого гайдлайна.
        Поддержка библиотеки компонентов <a href="https://github.com/akveo/nebular/">Nebular</a>.
        Написание статей для внутреннего обмена знаниями и в <a href="https://akveo.com/team/alexander-verbilo">корпоративный блог</a>.
        Организация перезапуска митапов для внутреннего обмена знаниями: поиск участников, формирование расписаний и выступления.
      </p>
    </li>
    <li>
      <div class="inline-text mb-sm">
        <h3>
          Фронтенд-инженер @ <a href="https://vrpconsulting.com/">VRP Consulting</a>.
        </h3>
        <p><time datetime="2017-09">Сентябрь 2017</time> – <time datetime="2020-02">Февраль 2020</time></p>
      </div>
      <p>
        Проектирование и разработка клиентской части веб приложений.
        Улучшение DX команды:
        унификация кодстайла с применением линтеров,
        упрощение процесса разработки и повышение переиспольземости компонентов при помощи Storybook,
        снижение регрессий скриншот-тестированием,
        автоматизация и упрощение код-ревью с использованием CI.
      </p>
      <div class="inline-text mb-sm">
        <h3>
          Руководитель группы.
        </h3>
        <p><time datetime="2017-09">Июль 2019</time> – <time datetime="2020-02">Февраль 2020</time></p>
      </div>
       <p>
        Помощь в организации процессов, связанных с ростом и развитием фронтенд департамента:
        проведение собеседований и проф. ревью,
        организация и участие во внутренних митапах.
        Руководитель и ментор группы из 6 человек: вырастил миддлов из джунов.
      </p>
    </li>
    <li>
      <div class="inline-text mb-sm">
        <h3>Фронтенд-разработчик @ <a href="http://itictory.com/">Itictory</a>.</h3>
        <p><time datetime="2016-10">Октябрь 2016</time> – <time datetime="2017-09">Сентябрь 2017</time></p>
      </div>
      <p>
        Проектирование и разработка клиентской части веб и гибридных приложений с использованием Apache Cordova с Angular.
      </p>
    </li>
    <li>
      <div class="inline-text mb-sm">
        <h3>Веб-разработчик @ <a href="https://3soft.by/">3Soft</a>.</h3>
        <p><time datetime="2015-06">Июнь 2015</time> – <time datetime="2016-08">Август 2016</time></p>
      </div>
      <p>
        Упрощение и ускорение процесса разработки при внедрении SCSS,
        сборка сайтов на Drupal,
        кастомизация тем,
        написание плагинов.
      </p>
    </li>
  </ul>
</section>

<section class="education">
  <h2>Образование</h2>
  <ul class="block-list">
    <li>
      <div class="inline-text mb-sm">
        <h3>Институт информационных технологий БГУИР</h3>.
        <p><time datetime="2015">2015</time> – <time datetime="2020">2020</time></p>
      </div>
      <p>
        Инженер-программист,
        Программное обеспечение информационных технологий
      </p>
    </li>
    <li>
      <div class="inline-text mb-sm">
        <h3>
          Минский государственный высший радиотехнический колледж.
        </h3>
        <p><time datetime="2011">2011</time> – <time datetime="2015">2015</time></p>
      </div>
      <p>
        Техник-программист,
        Программное обеспечение информационных технологий
      </p>
    </li>
  </ul>
</section>
