html {
  color: var(--primary-color);
  font-family: sans-serif;
  font-size: 1.125rem;
}

@media screen {
  html {
    background-color: var(--secondary-color);
  }
}

* {
  box-sizing: border-box;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: var(--action-accent-color);
}

a:focus {
  outline-color: var(--alt-accent-color);
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  max-width: var(--page-width);
  margin: auto;
}

.post p {
  max-width: var(--readable-line-width);
}
