html {
  color: var(--primary-color);
  font-family: sans-serif;
  font-size: 1.125rem;
}

body {
  margin: 0;
}

@media screen {
  html {
    background-color: var(--secondary-color);
  }
}

* {
  box-sizing: border-box;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: var(--action-accent-color);
}

a:focus {
  outline-color: var(--alt-accent-color);
}

:target:before {
  display: block;
  height: 3rem;
  margin: -3rem 0 0;
  content: '';
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  max-width: var(--page-width);
  padding-right: var(--page-horisontal-padding);
  padding-left: var(--page-horisontal-padding);
  margin: auto;
}

.post p {
  max-width: var(--readable-line-width);
}

.nav-wrapper {
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: #e3e3e3;
}

.nav-wrapper ul {
  max-width: var(--page-width);
  padding: 0;
  margin: auto;
}

.nav-wrapper li {
  display: inline-block;
}

.nav-wrapper li:not(:last-child) {
  marging-right: 1rem;
}

.nav-wrapper a {
  display: inline-block;
  padding: 0.5rem var(--page-horisontal-padding);
}

.nav-wrapper a[aria-current='page'] {
  background-color: var(--secondary-color);
}
