:root {
  --primary-color: #1e1e24;
  --secondary-color: #fdfdfd;
  --accent-color: #7e52a0;
  --action-accent-color: #bc96e6;
  --alt-accent-color: #fe4a49;

  --adaptive-sm: 0.25rem;
  --adaptive-md: 0.5rem;
  --adaptive-lg: 1rem;
  --adaptive-xl: 1.5rem;

  --page-width: 60rem;
  --page-horisontal-padding: 1rem;
  --readable-line-width: 32rem;
}

pre,
code {
  filter: invert(100%);
}

pre code {
  filter: none;
}

@media screen and (prefers-color-scheme: dark) {
  :root:not(.theme-light):not(.theme-dark),
  :root:not(.theme-light):not(.theme-dark) img {
    filter: invert(100%);
  }
}

:root.theme-dark,
:root.theme-dark img {
  filter: invert(100%);
}

@media screen and (min-width: 50rem) {
  :root {
    --adaptive-sm: 0.5rem;
    --adaptive-md: 1rem;
    --adaptive-lg: 2rem;
    --adaptive-xl: 3rem;
  }
}

@media print {
  :root {
    /* stylelint-disable-next-line plugin/stylelint-no-indistinguishable-colors */
    --secondary-color: white;
    --primary-color: black;
  }
}
