---
layout: page
title: Verbilo Alexandr, CV.
description: CV. Skills, experience, education.
skipFooter: true
pageClass: cv-page
---

<link rel="stylesheet" href="/styles/cv.css" data-helmet="cv-css" />
<div class="intro">
  <div class="intro-pic">
    <div class="secured secured_active">
      <img
        alt="My portrait for CV"
        width="250"
        height="250"
        src="/img/pic.jpg"
        loading="lazy"
        class="secured__img"
      />
      <p class="secured__description">
        Click to toggle visiblity.
        <br>
        Hidden by default due to possible prejudice.
      </p>
    </div>
  </div>
  <div class="intro-desc">
    <header>
      <h1>Verbilo Alexandr</h1>
      <address>Tbilisi, Georgia</address>
      <ul class="linear-list">
        <li>
          <a href="https://www.linkedin.com/in/sashaqred" class="print-link">LinkedIn</a>
        </li>
        <li>
          <a href="https://github.com/sashaqred" class="print-link">GitHub</a>
        </li>
        <li>
          <a href="mailto:sashaqred@gmail.com" class="print-link" data-better-print-text="sashaqred@gmail.com">email</a>
        </li>
      </ul>
    </header>

    <section class="about">
      <h2>About</h2>
      <p>
        Coding, mentoring, and rarely tech-talking.
      </p>
      <p>
        In love with Angular. Launched a React app in production.
      </p>
      <p>
        In my spare time I do analog photography and sometimes play basketball.
      </p>
    </section>
  </div>
</div>

<section class="core-skills">
  <h2>Core skills</h2>
  <ul class="linear-list">
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>Angular</li>
    <li>Git</li>
    <li>RxJs</li>
    <li>NgRx</li>
    <li>CSS</li>
  </ul>
</section>

<section class="languages">
  <h2>Languages</h2>
  <ul class="linear-list">
    <li>Russian</li>
    <li>English (B1)</li>
    <li>German (A1)</li>
  </ul>
</section>

<section class="experience">
  <h2>Experience</h2>
  <ul class="block-list">
    <li>
      <h3>
        <a href="https://uibakery.io/">UI Bakery</a>
      </h3>
      <p><time datetime="2020-04">April 2020</time> – Now.</p>
      <p>
        Frontend engineer. The product and only the product.
      </p>
      <p>
        Thinking about architecture and developing functionality.
        Don't skip bad code in code reviews.
        Improving performance.
        Refactoring.
        Trying to simplify developers' work.
      </p>
    </li>
    <li>
      <h3>
        <a href="https://www.akveo.com/">Akveo</a>
      </h3>
      <p><time datetime="2020-04">April 2020</time> – Now.</p>
      <p>
        Frontend activist. Not a line of code.
      </p>
      <p>
        Participate in the technical coordination team.
        Unifying code style and best practices in projects.
      </p>
      <p>
        Write articles for internal knowledge sharing and the corporate blog.
      </p>
      <p>
        Participated in the organization of internal knowledge exchange.
        Restarted an abandoned process in the company.
        Was part of the core organizing team for the first season:
        sought out participants, built schedules, and spoke.
      </p>
    </li>
    <li>
      <h3>
        <a href="https://vrpconsulting.com/">VRP Consulting</a>
      </h3>
      <p><time datetime="2017-09">September 2017</time> – <time datetime="2020-02">February 2020</time>.</p>
      <p>
        Group lead. In
        <span class="accent">❤</span>
        with Angular.
      </p>
      <p>
        Help in organizing processes related to the growth and development of a team:
        interviewing and professional reviews, organizing and participating
        in internal meetups, helping people grow.<br />
      </p>
      <p>
        Code writing, code review, and automation, task assessment, planning.<br />
      </p>
      <p>Some of projects:<br /></p>
      <dl>
        <dt>VoIP</dt>
        <dd>
          <p>
            Technologies: Angular, TypeScript, RxJs, SCSS, TSLint, Stylelint,
            Prettier, Husky, NgRx, SIP.js, OpenCTI, WebSocket.
          </p>
          <p>
            Responsible for architecture and code quality.
            The entire application is built on NgRx.
            Communication with the server is based on WebSocket.
          </p>
        </dd>
        <dt>Ed-tech</dt>
        <dd>
          <p>
            Technologies: Angular, TypeScript, RxJs, SCSS, TSLint, Stylelint,
            Prettier, Husky, NgRx, Docker, Storybook, Jest.
          </p>
          <p>
            Responsible for architecture and code quality. Used RxJS a lot.
            Set up regression testing with Jest, Storybook and Docker.
          </p>
        </dd>
        <dt>Digital retail</dt>
        <dd>
          <p>Technologies: Angular, TypeScript, SCSS, Karma, Jasmine.</p>
          <p>
            Large CRUD with little dynamics.
          </p>
        </dd>
        <dt>Digital marketing</dt>
        <dd>
          <p>
            Technologies: React, Redux, Redux-saga, Styled-components, PM2.
          </p>
          <p>
            Widget for third-party service interaction with Marketing Cloud.
          </p>
        </dd>
      </dl>
    </li>
    <li>
      <h3><a href="http://itictory.com/">Itictory</a></h3>
      <p><time datetime="2016-10">October 2016</time> – <time datetime="2017-09">September 2017</time>.</p>
      <p>
        Frotend developer. Preparing a big Angular love.
      </p>
      <p>
        Design and development of front-end.
        Organization of the project structure and setting up its assembly.
      </p>
      <p>
        Creation of hybrid mobile applications.
        A bunch of Apache Cordova and Angular was used.
        Gulp was used as the project builder.
      </p>
    </li>
    <li>
      <h3><a href="https://3soft.by/">3Soft</a></h3>
      <p><time datetime="2015-06">June 2015</time> – <time datetime="2016-08">August 2016</time>.</p>
      <p>Web developer. Drupal is our everything.</p>
      <p>
        Cross-browser and adaptive layout, organization of site structure,
        creation of modules and themes for Drupal.
      </p>
    </li>
  </ul>
</section>

<section class="education">
  <h2>Education</h2>
  <ul class="block-list">
    <li>
      <h3>Institute of information technologies BSUIR, Minsk</h3>
      <p><time datetime="2015">2015</time> – <time datetime="2020">2020</time>.</p>
      <p>
        Faculty of computer technology, Information technology software.
      </p>
    </li>
    <li>
      <h3>
        Minsk state higher radioengineering college, Minsk
      </h3>
      <p><time datetime="2011">2011</time> – <time datetime="2015">2015</time>.</p>
      <p>
        Faculty of computer technology, Information technology software.
      </p>
    </li>
  </ul>
</section>

<section class="skills">
  <h2>Extra skills</h2>
  <ul class="linear-list">
    <li>SCSS</li>
    <li>CI / CD</li>
    <li>Docker</li>
    <li>Gulp</li>
    <li>Webpack</li>
    <li>React / Redux</li>
    <li>HTML</li>
  </ul>
</section>

<script type="module" src="/script/cv.js"></script>
