@import './styles/theme.css';
@import './styles/common.css';
@import './styles/utils.css';

.intro {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.intro .intro-pic {
  line-height: 0;
  padding-left: var(--adaptive-md);
}

.intro .intro-desc {
  flex-grow: 1;
  flex-basis: 60%;
}

.intro section {
  margin-bottom: 0;
}

header {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;

  border-bottom: 1px solid var(--alt-accent-color);
  padding: 0.25rem var(--adaptive-md);
}

header h1 {
  margin-top: 0;
}

header ul {
  margin: 0;
  width: 100%;
}
