---
layout: base
lang: ru
title: Вербило Александр, резюме.
description: Резюме. Основные навыки, опыт работы, образование.
---

<div class="intro">
  <div class="intro-pic">
    <img
      alt="Мой портрет для резюме"
      width="217"
      height="217"
      src="/img/pic.jpg"
      loading="lazy"
    />
  </div>
  <div class="intro-desc">
    <header>
      <h1>Вербило Александр</h1>
      <address>Минск</address>
      <ul class="linear-list">
        <li>
          <a href="https://www.linkedin.com/in/sashaqred">
            LinkedIn
          </a>
        </li>
        <li>
          <a href="https://github.com/sashaqred">GitHub</a>
        </li>
        <li>
          <a href="mailto:contact@sashaqred.com">
            email
          </a>
        </li>
      </ul>
    </header>

    <section class="about">
      <h2>О себе</h2>
      <p>
        Пишу код, менторю, рассказываю о технологиях.
      </p>
      <p>
        Люблю Angular. Запустил React-приложение в продакшн.
      </p>
      <p>
        В свободное время занимаюсь аналоговой фотографией и иногда играю в
        баскетбол.
      </p>
    </section>
  </div>
</div>

<section class="core-skills">
  <h2>Основные навыки</h2>
  <ul class="linear-list">
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>Angular</li>
    <li>Git</li>
    <li>RxJs</li>
    <li>CSS</li>
  </ul>
</section>

<section class="languages">
  <h2>Языки</h2>
  <ul class="linear-list">
    <li>Русский</li>
    <li>Английский (B1)</li>
    <li>Немецкий (A1)</li>
  </ul>
</section>

<section class="experience">
  <h2>Опыт</h2>
  <ul class="block-list">
    <li>
      <h3>
        <a href="https://www.akveo.com">Akveo</a>
      </h3>
      <p><time>Апрель 2020</time> – Сейчас.</p>
    </li>
    <li>
      <h3>
        <a href="https://vrpconsulting.com/">VRP Consulting</a>
      </h3>
      <p><time>Сентябрь 2017</time> – Февраль 2020.</p>
      <p>
        Руководитель группы. In
        <span class="accent">❤</span>
        with Angular.
      </p>
      <p>
        Помощь в организации процессов, связанных с ростом и развитием
        команды: проведение собеседований и проф. ревью, организация и
        участие во внутренних митапах, помогаю людям расти.<br />
      </p>
      <p>
        Написание кода, проведение кодревью и его автоматизация, оценка
        задач, планирование.<br />
      </p>
      <p>Некоторые из проектов:<br /></p>
      <dl>
        <dt>VoIP</dt>
        <dd>
          <p>
            Технологии: Angular, TypeScript, RxJs, SCSS, TSLint, Stylelint,
            Prettier, Husky, NgRx, SIP.js, OpenCTI, WebSocket.
          </p>
          <p>
            Отвечал за архитектуру и качество кода. Все приложение построено
            на NgRx. Коммуникация с сервером построена на WebSocket.
          </p>
        </dd>
        <dt>Ed-tech</dt>
        <dd>
          <p>
            Технологии: Angular, TypeScript, RxJs, SCSS, TSLint, Stylelint,
            Prettier, Husky, NgRx, Docker, Storybook, Jest.
          </p>
          <p>
            Отвечал за архитектуру и качество кода. Активно использовали
            RxJS. Настроил регрессионное тестирование с помощью Jest,
            Storybook и Docker.
          </p>
        </dd>
        <dt>Digital retail</dt>
        <dd>
          <p>Технологии: Angular, TypeScript, SCSS, Karma, Jasmine.</p>
          <p>
            Большой CRUD с небольшой динамикой.
          </p>
        </dd>
        <dt>Digital marketing</dt>
        <dd>
          <p>
            Технологии: React, Redux, Redux-saga, Styled-components, PM2.
          </p>
          <p>
            Виджет для взаимодействия стороннего сервиса с Marketing Cloud.
          </p>
        </dd>
      </dl>
    </li>
    <li>
      <h3><a href="http://itictory.com/">Itictory</a></h3>
      <p><time>Октябрь 2016</time> – <time>Сентябрь 2017</time>.</p>
      <p>
        Фротенд разработчик. Подготовка большой Angular любви.
      </p>
      <p>
        Проектирование и разработка frontend составляющей веб приложений.
        Организация структуры проекта и настройка его сборки.
      </p>
      <p>
        Создание гибридных мобильных приложений. Использовалась связка
        Apache Cordova и Angular. В качестве сборщика проекта использовался
        Gulp.
      </p>
    </li>
    <li>
      <h3><a href="https://3soft.by/">3Soft</a></h3>
      <p><time>Июнь 2015</time> – <time>Август 2016</time>.</p>
      <p>Веб-разработчик. Drupal наше все.</p>
      <p>
        Кроссбраузерная и адаптивная верстка, организация структуры сайта,
        создание модулей и тем для Drupal.
        <span class="almost-invisible">
          Поигрывал в Hearthstone. Однажды почти взял легенду.
        </span>
      </p>
    </li>
  </ul>
</section>

<section class="education">
  <h2>Образование</h2>
  <ul class="block-list">
    <li>
      <h3>Институт информационных технологий БГУИР, Минск</h3>
      <p><time>2015</time> – <time>2020</time>.</p>
      <p>
        Факультет компьютерных технологий, Программное обеспечение
        информационных технологий.
      </p>
    </li>
    <li>
      <h3>
        Минский государственный высший радиотехнический колледж, Минск
      </h3>
      <p><time>2011</time> – <time>2015</time>.</p>
      <p>
        Факультет программирования, Программное обеспечение информационных
        технологий.
      </p>
    </li>
  </ul>
</section>

<section class="skills">
  <h2>Дополнительно умею</h2>
  <ul class="linear-list">
    <li>SCSS</li>
    <li>CI / CD</li>
    <li>Docker</li>
    <li>Gulp</li>
    <li>Webpack</li>
    <li>React / Redux</li>
    <li>HTML</li>
  </ul>
</section>
