@media screen {
  html {
    background-color: var(--primary-color);
  }
}

@media screen {
  body {
    max-width: 900px;
    padding: var(--adaptive-lg) var(--adaptive-xl);
    margin: auto;
    background-color: var(--secondary-color);
  }
}

@media screen and (min-width: 900px) {
  body {
    margin-block-end: calc(50vw - 28.125rem);
    margin-block-start: calc(50vw - 28.125rem);
  }
}

@media screen and (min-width: 964px) {
  body {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

section {
  padding: 0 var(--adaptive-md);
  margin: var(--adaptive-lg) auto;
}

h1,
h2,
h3 {
  margin: var(--adaptive-sm) 0;
  font-weight: normal;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  margin: var(--adaptive-sm) 0;
  font-size: 1.4rem;
}

h3 {
  margin: 0;
  margin-bottom: var(--adaptive-sm);
  font-size: 1.2rem;
}

ul,
p,
dl {
  margin-right: 0;
  margin-left: 0;
}

dd {
  margin-left: var(--adaptive-lg);
}

ul,
p,
dl,
dd,
dt {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

ul:last-child,
p:last-child,
dl:last-child,
dd:last-child,
dt:last-child {
  margin-bottom: 0;
}

@media print {
  a[href^='http']:after,
  a[href^='mailto:']:after {
    content: ' (' attr(href) ')';
  }
}

.intro {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.intro .intro-pic {
  padding-left: var(--adaptive-md);
  line-height: 0;
}

.intro .intro-desc {
  flex-basis: 60%;
  flex-grow: 1;
}

.intro section {
  margin-bottom: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;

  padding: 0.25rem var(--adaptive-md);
  border-bottom: 1px solid var(--alt-accent-color);
}

header h1 {
  margin-top: 0;
}

header ul {
  width: 100%;
  margin: 0;
}
